


<form ng-submit="ulc.searchUsers()" class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" ng-model="ulc.parametriPretrage.username">
    <button  class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

<table class="table">
        <thead>
            <tr>
                <th>Number</th>
                <th>Username</th>
                <th>Phone number</th>
                <th>E-Mail</th>
                <th class="text-right"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in ulc.allUsers">
                <td>{{$index+1}}.</td>
                <td>{{user.username}}</td>
                <td>{{user.phone_number}}</td>
                <td>{{user.email}}</td>
                <td class="text-right">
                    <a ng-if="ulc.isAdmin" ng-click="ulc.deleteThisUser(user.id)" class="btn btn-danger btn-sm"><i class="far fa-eye"></i>Delete profile</a>
                </td>
                <td class="text-right">
                    <button  ng-if="ulc.isAdmin" ng-click="ulc.findUserById(user.id)" type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">Edit profile</button>
                  
                </td>
                <td class="text-right">
                    <a ui-sref="user({username: user.username})" class="btn btn-primary btn-sm"><i class="far fa-eye"></i>Show profile</a>
                </td>
            </tr>
        </tbody>
        <tfoot>

        </tfoot>


        <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    
                    <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input ng-value="{{ulc.userSelected.username}}" ng-model="ulc.userSelected.username"  type="text" pattern="[A-Za-z]{3,10}" title="From 3 to 10 letter Username" class="form-control" maxlength="50" placeholder="Username" ng-required="required">
                    </div>
                    <div class="input-group">
                            
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input ng-value="{{ulc.userSelected.password}}" ng-model="ulc.userSelected.password"  type="text" class="form-control" maxlength="50" placeholder="Password" ng-required="required">
                    </div>
                    <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input ng-value="{{ulc.userSelected.name}}"  ng-model="ulc.userSelected.name"  type="text" pattern="[A-Za-z]{1,10}" title="From 1 to 10 letter Name" class="form-control" maxlength="50" placeholder="Name" ng-required="required">
                    </div>
                    <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input ng-value="{{ulc.userSelected.surname}}" ng-model="ulc.userSelected.surname"  type="text" pattern="[A-Za-z]{1,10}" title="From 1 to 10 letter Surname" class="form-control" maxlength="50" placeholder="Surname" ng-required="required">
                    </div>
                    <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input ng-value="{{ulc.userSelected.email}}" ng-model="ulc.userSelected.email"  type="email" class="form-control" maxlength="50" placeholder="Email" ng-required="required">
                    </div>
                    <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input ng-value="{{ulc.userSelected.phone_number}}" ng-model="ulc.userSelected.phone_number"  type="text" pattern="[0-9]{9,10}" title="From 9 to 10 numbers only" class="form-control" maxlength="50" placeholder="Phone Number" ng-required="required">
                    </div>
    
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button ng-click="ulc.editThisUser(user.id)" type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
    </table>