<ul class="list-group" class="myProfileList">
        <li class="list-group-item">Username: {{uc.userSelected.username}} </li>
        <li class="list-group-item">Name: {{uc.userSelected.name}}</li>
        <li class="list-group-item">Surname: {{uc.userSelected.surname}}</li>
        <li class="list-group-item">Phone Number: {{uc.userSelected.phone_number}}</li>
        <li class="list-group-item">E-Mail: {{uc.userSelected.email}}</li>
</ul>

<table>
        <tr>
                <td><button ng-click="uc.like()"  type="button" class="btn btn-success" >Like ( {{uc.likeNumber}} )</button></td>
                <td><button ng-click="uc.dislike()" type="button" class="btn btn-danger" >Dislike ( {{uc.dislikeNumber}} )</button></td>
        </tr>
</table>


<table class="table">
        <thead>
            <tr>
                <th ng-click="uc.searchAds('user')">User from</th>
                <th ng-click="uc.searchAds('title')">Title</th>
                <th>Picture</th>
                <th ng-click="uc.searchAds('price')">Price</th>
                <th ng-click="uc.searchAds('rooms')">Number of rooms</th>
                <th ng-click="uc.searchAds('size')">Size</th>
                <th ng-click="uc.searchAds('adress')">Adress</th>
                <th ng-click="uc.searchAds('date')">Date posted</th>
                <th class="text-right"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ad in uc.allAds">
                <td ui-sref="user({username: ad.user_username})">{{ad.user_username}}</td>
                <td>{{ad.title}}</td>
                <td><img width="50px" src="data:image/jpg;base64,{{ad.main_img_url}}"></td>
                <td >{{ad.price}}din</td>
                <td >{{ad.roomNumber}}</td>
                <td >{{ad.size}}m2</td>
                <td >{{ad.adress}}</td>
                <td>{{ad.timeposted}}</td>
                <td class="text-right">
                    <a ui-sref="ad({id: ad.id})" class="btn btn-primary btn-sm"><i class="far fa-eye"></i>More</a>
                </td>
            </tr>
        </tbody>
        <tfoot>

        </tfoot>
    </table>