<ul class="list-group" class="myProfileList">
    <li class="list-group-item">Username: {{adc.ad.user_username}} </li>
    <li class="list-group-item">Title: {{adc.ad.title}}</li>
    <li class="list-group-item">Price: {{adc.ad.price}}din</li>
    <li class="list-group-item">Number of rooms: {{adc.ad.roomNumber}}</li>
    <li class="list-group-item">Size: {{adc.ad.size}}m2</li>
    <li class="list-group-item">Adress: {{adc.ad.adress}}</li>
    <li class="list-group-item">Date and time posted: {{adc.ad.timeposted}}</li>
    <li class="list-group-item">Description: {{adc.ad.description}}</li>
    <li ng-repeat="image in adc.image_urls" class="list-group-item"><img width="250px" src="data:image/jpg;base64,{{image.img_code}}"></li>

</ul>
