<button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Create Ad</button>

<div class="mb-3">
    <form ng-submit="ac.searchAds('')">
        <div class="form-group">
            <label for="adressSearch">Adress</label>
            <input type="text" class="form-control" id="adressSearch" placeholder="Adress" ng-model="ac.searchParams.adress">
        </div>
        <div class="form-group">
            <label for="minSize">Min Size</label>
            <input type="number" class="form-control" id="minSize" placeholder="Mininum size" ng-model="ac.searchParams.minSize">
        </div>
        <div class="form-group">
            <label for="maxSize">Maximum Size</label>
            <input type="number" class="form-control" id="maxSize" placeholder="Maximum size" ng-model="ac.searchParams.maxSize">
        </div>

        <div class="form-group">Min Price</label>
            <input type="number" class="form-control" id="minPrice" placeholder="Mininum price" ng-model="ac.searchParams.minPrice">
        </div>
        <div class="form-group">
            <label for="maxPrice">Maximum Price</label>
            <input type="number" class="form-control" id="maxPrice" placeholder="Maximum price" ng-model="ac.searchParams.maxPrice">
        </div>
        <div class="form-group">
            <label for="roomNumber">Number of rooms</label>
            <input type="number" class="form-control" id="roomNumber" placeholder="Number of rooms" ng-model="ac.searchParams.roomNumber">
        </div>
        <input type="submit" class="btn btn-primary" value="Search">
    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New Ad</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input ng-value="{{ac.newPost.title}}" ng-model="ac.newPost.title"  type="text" class="form-control" maxlength="50" placeholder="Title" ng-required="required">
                </div>
                <div class="form-group">
                    <span class="btn btn-file">Choose photo <input type="file" ng-model="ac.newPost.images" name="ac.newPost.images"  multiple base-sixty-four-input required onload="onLoad" maxsize="500" accept="image/*">
                    </span>
                </div>
                <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input ng-value="{{ac.newPost.roomNumber}}"  ng-model="ac.newPost.roomNumber"  type="number" pattern="[0-9]{0,5}" title="From 1 to 9 numbers only, 5 digit number Max" class="form-control" maxlength="50" placeholder="Number of rooms" ng-required="required">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input ng-value="{{ac.newPost.price}}"  ng-model="ac.newPost.price"  type="number" pattern="[0-9]{0,}" title="From 1 to 9 numbers only" class="form-control" maxlength="50" placeholder="Price (din)" ng-required="required">
            </div>
                <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input ng-value="{{ac.newPost.size}}" ng-model="ac.newPost.size"  type="number" pattern="[0-9]{0,5}" title="From 1 to 9 numbers only, 5 digit number Max" class="form-control" maxlength="50" placeholder="Room size(m2)" ng-required="required">
                </div>
                <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input ng-value="{{ac.newPost.adress}}" ng-model="ac.newPost.adress"  type="text" class="form-control" maxlength="50" placeholder="Adress" ng-required="required">
                </div>
                <div class="form-group">
                    <label for="sale_rent">Type: </label>
                    <select class="form-control" name="sale_rent" id="sale_rent" ng-model="ac.newPost.sale_rent_id" ng-required="required">
                        <option value="{{type.id}}" ng-repeat="type in ac.types">{{type.type}}</option>
                    </select>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <textarea ng-value="{{ac.newPost.description}}" ng-model="ac.newPost.description" name="description" id="description" cols="63" rows="5"> Write your description here...</textarea>
                </div>
                

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button ng-click="ac.createAd()" type="button" class="btn btn-primary">Post</button>
            </div>
          </div>
        </div>
      </div>



<table class="table">
        <thead>
            <tr>
                <th ng-click="ac.searchAds('user')">User from</th>
                <th ng-click="ac.searchAds('title')">Title</th>
                <th>Picture</th>
                <th ng-click="ac.searchAds('price')">Price</th>
                <th ng-click="ac.searchAds('rooms')">Number of rooms</th>
                <th ng-click="ac.searchAds('size')">Size</th>
                <th ng-click="ac.searchAds('adress')">Adress</th>
                <th ng-click="ac.searchAds('date')">Date posted</th>
                <th class="text-right"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ad in ac.allAds">
                <td ui-sref="user({username: ad.user_username})">{{ad.user_username}}</td>
                <td>{{ad.title}}</td>
                <td><img width="50px" src="data:image/jpg;base64,{{ad.main_img_url}}"></td>
                <td >{{ad.price}}din</td>
                <td >{{ad.roomNumber}}</td>
                <td >{{ad.size}}m2</td>
                <td >{{ad.adress}}</td>
                <td>{{ad.timeposted}}</td>
                <td class="text-right">
                    <a ng-if="ac.isAdmin" ng-click="ac.deleteThisAd(ad.id)" class="btn btn-danger btn-sm"><i class="far fa-eye"></i>Delete ad</a>
                </td>
                <td class="text-right">
                    <a ui-sref="ad({id: ad.id})" class="btn btn-primary btn-sm"><i class="far fa-eye"></i>More</a>
                </td>
                <td class="text-right">
                    <a  ng-click="ac.follow(ad.id)" class="btn btn-primary btn-sm"><i class="far fa-eye"></i>Follow ad</a>
                </td>
                <td class="text-right">
                    <a ng-click="ac.unfollow(ad.id)" class="btn btn-primary btn-sm"><i class="far fa-eye"></i>Unfollow ad</a>
                </td>
            </tr>
        </tbody>
        <tfoot>

        </tfoot>
    </table>
   