
<ul class="list-group" class="myProfileList">
    <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">New message</button>
</ul>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New Message</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input ng-value="{{ic.message.username}}" ng-model="ic.message.username"  type="text" class="form-control" maxlength="50" placeholder="Username of the reciever" ng-required="required">
                </div>
                <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <textarea ng-value="{{ic.message.content}}" ng-model="ic.message.content" name="content" id="content" cols="63" rows="5"> Write your message here...</textarea>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button ng-click="ic.sendMessage()" type="button" class="btn btn-primary">Send</button>
            </div>
          </div>
        </div>
      </div>






<table class="table">
    <thead>
        <tr>
            <th>Users</th>
            <th>Date</th>
            <th class="text-right">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="message in ic.allMessages">
            <td>{{message.username_from}}</td>
            <td>{{message.dateCreated}}</td>
            <td class="text-right">
                <a ui-sref="openMsg({id: message.id})" class="btn btn-primary btn-sm"><i class="far fa-eye"></i>Open</a>
            </td>
        </tr>
    </tbody>
    <tfoot>

    </tfoot>
</table>