
<table class="table">
    <thead>
        <tr>{{omc.messageSender}}</tr>
        <tr>
            <th>Msg from</th>
            <th>Text</th>
            <th class="text-right">Date and Time</th>
            <th class="text-right"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="message in omc.messageThread">
            <td>{{message.username_from}}</td>
            <td>{{message.content}}</td>
            <td class="text-right">{{message.dateCreated}}</td>
            <td class="text-right">
                <a ng-click="omc.deleteMessage(message.id)" class="btn btn-primary btn-sm"><i class="far fa-eye"></i>Delete</a>
            </td>
        </tr>
    </tbody>
    <tfoot>

    </tfoot>

</table>

<ul class="list-group" class="myProfileList">
        <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Reply</button>
    </ul>

         <!-- Modal -->
         <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Reply</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input ng-value="{{omc.messageSender}}" ng-model="omc.messageReciever"  type="text" class="form-control" maxlength="50" ng-required="required">
                        </div>
                        <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <textarea ng-value="{{omc.message.content}}" ng-model="omc.message.content" name="content" id="content" cols="63" rows="5"> Write your message here...</textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button ng-click="omc.sendMessage()" type="button" class="btn btn-primary">Send</button>
                    </div>
                  </div>
                </div>
              </div>