



<ul class="list-group" class="myProfileList">
        <button  type="button" class="btn btn-success" >{{mpc.likeNumber}}</button>
        <button  type="button" class="btn btn-danger" >{{mpc.dislikeNumber}}</button>
        <li class="list-group-item">Username: {{mpc.userProfile.username}} </li>
        <li class="list-group-item">Name: {{mpc.userProfile.name}}</li>
        <li class="list-group-item">Surname: {{mpc.userProfile.surname}}</li>
        <li class="list-group-item">Phone Number: {{mpc.userProfile.phone_number}}</li>
        <li class="list-group-item">E-Mail: {{mpc.userProfile.email}}</li>
        <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Edit</button>
</ul>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

                <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input  ng-value="{{mpc.userProfile.password}}" ng-model="mpc.userProfile.password"  type="text" class="form-control" maxlength="50" placeholder="Password" ng-required="required">
                </div>
                <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input ng-value="{{mpc.userProfile.name}}"  ng-model="mpc.userProfile.name"  type="text" class="form-control" maxlength="50" placeholder="Name" ng-required="required">
                </div>
                <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input ng-value="{{mpc.userProfile.surname}}" ng-model="mpc.userProfile.surname"  type="text" class="form-control" maxlength="50" placeholder="Surname" ng-required="required">
                </div>
                <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input ng-value="{{mpc.userProfile.email}}" ng-model="mpc.userProfile.email"  type="text" class="form-control" maxlength="50" placeholder="Email" ng-required="required">
                </div>
                <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input ng-value="{{mpc.userProfile.phone_number}}" ng-model="mpc.userProfile.phone_number"  type="text" class="form-control" maxlength="50" placeholder="Phone Number" ng-required="required">
                </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button ng-click="mpc.editUser()" type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>

      <button ng-click="mpc.deleteProfile()" type="button" class="btn btn-danger">Delete Account</button>


      <table class="table">
        <thead>
            <tr>
                <th ng-click="mpc.searchAds('title')">Title</th>
                <th>Picture</th>
                <th ng-click="mpc.searchAds('price')">Price</th>
                <th ng-click="mpc.searchAds('rooms')">Number of rooms</th>
                <th ng-click="mpc.searchAds('size')">Size</th>
                <th ng-click="mpc.searchAds('adress')">Adress</th>
                <th ng-click="mpc.searchAds('date')">Date posted</th>
                <th class="text-right"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ad in mpc.allAds">
                <td>{{ad.title}}</td>
                <td><img width="50px" src="data:image/jpg;base64,{{ad.main_img_url}}"></td>
                <td >{{ad.price}}din</td>
                <td >{{ad.roomNumber}}</td>
                <td >{{ad.size}}m2</td>
                <td >{{ad.adress}}</td>
                <td>{{ad.timeposted}}</td>
                <td class="text-right">
                    <a ng-click="mpc.deleteThisAd(ad.id)" class="btn btn-danger btn-sm"><i class="far fa-eye"></i>Delete ad</a>
                </td>
                <td class="text-right">
                    <a ui-sref="ad({id: ad.id})" class="btn btn-primary btn-sm"><i class="far fa-eye"></i>More</a>
                </td>
            </tr>
        </tbody>
        <tfoot>

        </tfoot>
    </table>