<!DOCTYPE html>
<html>

<head>
    <title>Real estate</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/fontawesome/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="css/myCss.css"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    
</head>

<!-- Uvezivanje AngularJS aplikacije za element. -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<body ng-app="app">
    
    <div class="container">
        
            <!-- Login forma -->
            <div ng-controller="loginCtrl as lc">

                    <div ng-if="lc.loggedIn">

                            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                                    <a class="navbar-brand" href="#">Real Estate</a>
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                      <span class="navbar-toggler-icon"></span>
                                    </button>
                                  
                                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                      <ul class="navbar-nav mr-auto">
                                        <li class="nav-item active">
                                          <a class="nav-link" ui-sref="home">My Profile <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item">
                                          <a class="nav-link" ui-sref="ads">Ads</a>
                                        </li>
                                        <li class="nav-item">
                                          <a class="nav-link disabled" ui-sref="userList">Other Profiles</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" ui-sref="inbox">Inbox</a>
                                        </li>
                                      </ul>
                                      
                                      <button class="btn btn-danger my-2 my-sm-0" ng-if="lc.loggedIn" class="btn btn-primary btn" ng-click="lc.logout()">Logout</button>
                                    </div>
                                  </nav>   
            
                    </div>


                <form class="form-inline" ng-submit="lc.login()">
                    <div ng-if="!lc.loggedIn">
                        <input class="form-control mr-sm-2" placeholder="Username" type="text" ng-model="lc.user.username">
                        <input class="form-control mr-sm-2" placeholder="Password" type="password" ng-model="lc.user.password">
                        <input class="btn btn-primary btn" type="submit" value="Login">
                    </div>    
                </form>
                

                <div ng-if="!lc.loggedIn">
                    <form>
                        <label>Don't have an account?</label>
                            <button type="button" ui-sref="sign_up" class="btn btn-link nounderline">Sign up</button>
                    </form>
                </div>
            </div>

            
        
        <!-- Direktiva koja odredjuje gde ce se prikazivati view-ovi. -->
        <!-- View moze biti i imenovan. -->
        <ui-view></ui-view>
    </div>
    <script src="scripts/jquery-3.3.1.min.js"></script>
    <script src="scripts/popper.min.js"></script>
    <script src="scripts/bootstrap.bundle.min.js"></script>

    <!-- Neophodno je ukljuciti sve skripte za Angular. -->
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-ui-router.min.js"></script>
    <script src="scripts/angular-base64-upload.js"></script>
    <script src="app/app.js"></script>
    <script src="app/components/login/loginCtrl.js"></script>
    <script src="app/components/myProfile/myProfileCtrl.js"></script>
    <script src="app/components/login/signUpCtrl.js"></script>
    <script src="app/components/userList/userListCtrl.js"></script>
    <script src="app/components/userList/userCtrl.js"></script>
    <script src="app/components/ads/adsCtrl.js"></script>
    <script src="app/components/inbox/inboxCtrl.js"></script>
    <script src="app/components/inbox/openMsgCtrl.js"></script>
    <script src="app/components/ads/adCtrl.js"></script>
</body>
</body>

</html>