

<div class="omb_login">
    
    <div class="row omb_row-sm-offset-3">
        <div class="col-xs-12 col-sm-6">	
            <form ng-Submit="suc.signUp()">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input id="user-username" ng-model="suc.newUser.username" type="text" pattern="[A-Za-z]{3,10}" title="From 3 to 10 letter Username" class="form-control" maxlength="50" placeholder="Username" ng-required="required">
                </div>
                <span class="help-block"></span>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope" style="font-size: 0.7em;"></i></span>
                    <input id="user-email" ng-model="suc.newUser.email" type="email" size="30" class="form-control" maxlength="50" placeholder="E-Mail" ng-required="required">
                </div>
                <span class="help-block"></span>				
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input id="user-password" ng-model="suc.newUser.password" type="password" class="form-control" maxlength="50" placeholder="Password" ng-required="required">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input id="user-name" ng-model="suc.newUser.name"  type="text"  pattern="[A-Za-z]{1,10}" title="From 1 to 10 letter Name" class="form-control" maxlength="50" placeholder="Name" ng-required="required">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input id="user-surname" ng-model="suc.newUser.surname"  type="text"  pattern="[A-Za-z]{1,10}" title="From 1 to 10 letter Surname" class="form-control" maxlength="50" placeholder="Surname" ng-required="required">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input ng-model="suc.newUser.phone_number"  type="text"  pattern="[0-9]{9,10}" title="From 9 to 10 numbers only" class="form-control" maxlength="50"  placeholder="Phone Number">
                </div>
                <div class="form-group" ng-click="suc.getGenders()">
                    <label for="gender">Gender: </label>
                    <select id="user-gender" class="form-control" name="gender" id="gender" ng-model="suc.newUser.gender_id" ng-required="required">
                        <option value="{{gender.id}}" ng-repeat="gender in suc.genders">{{gender.name}}</option>
                    </select>
            </div>
                <div class="form-group">
                        <label for="country">Country: </label>
                        <select class="form-control" name="country" id="country" ng-model="suc.country" ng-required="required">
                            <option value="{{country.id}}" ng-repeat="country in suc.countries">{{country.name}}</option>
                        </select>
                </div>
                <div ng-if="suc.isCountrySelected()" ng-click="suc.getCities()" class="form-group">
                    <label for="city">City: </label>
                    <select id="user-city" ng-model="suc.newUser.city_id" class="form-control" name="city" id="city"  ng-required="required">
                        <option value="{{city.id}}" ng-repeat="city in suc.cities">{{city.name}}</option>
                    </select>
                </div>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
